html{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

body{
	min-height: 100%;
	margin: 0px;
}

body, html{
	overflow: hidden;
	position: relative;
	height: 100%;
}

.fullscreen{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.center{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	text-align: center;
}

#uploadScreen{
	cursor: pointer;
}

.viewerCanvas{
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.viewerCanvas.right{
	left: 50%;
}

.depthViewer{
	opacity: 0.4;
	pointer-events: none;
}

.menuContainer{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	bottom: env(safe-area-inset-bottom);
	width: 50%;
	z-index: 10;
	pointer-events: none;
}

.menuContainer.right{
	left: 50%;
}

.circleButton{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	background: white;
	box-shadow: 0px 3px 10px 0px #0000008c;
	pointer-events: all;
	cursor: pointer;
	transition: transform 0.2s, visibility 0.2s;
}

.circleButtonLabel{
	font-size: 5pt;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-shadow:
		 -1px -1px 0 #ffffff,
		  1px -1px 0 #ffffff,
		  -1px 1px 0 #ffffff,
		   1px 1px 0 #ffffff;
}
.circleButtonValueLabel{
	font-size: 10pt;
	bottom: 16px;
}
.circleButtonIcon{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.left > .circleButtonValueLabel, .left > .circleButtonIcon{
	transform: translateX(-1px);
}
.right > .circleButtonValueLabel, .right > .circleButtonIcon{
	transform: translateX(1px);
}

#exportedImage{
	background: rgba(0,0,0,0.7);
	z-index: 100;
}
.exportedImageWrapper{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.exportedImage{
	max-width: 90vw;
	max-height: 90vh;
}

.exportImageDownloadButton{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #000000a3;
	background-image: url(icons/download.svg);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.exportImageDownloadButton:hover{
	background-color: black;
}

.brushCursor{
	width: 100px;
	height: 100px;
	border-radius: 10000px;
	box-shadow: 0px 0px 0 1px white, 0px 0px 0 3px black, 0px 0px 0 4px white;
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 8;
	pointer-events: none;
}

.brushSoftnessCursor{
	background: red;
	width: 100%;
	height: 100%;
	border-radius: 10000px;
}
