html, body{
	margin: 0px;
	padding: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, .fs{
	width: 100%;
	height: 100%;
}

.center{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	position: absolute;
}

#leftContainer, #rightContainer, #overlayContainer{
	width: 50%;
	display: block;
	position: absolute;
    overflow: hidden;
}

#rightContainer{
	right: 0px;
}

#overlayContainer{
	position: absolute;
	left: 0px;
	opacity: 0.5;
	pointer-events: none;
	overflow: hidden;
}

#overlayCanvas{
	position: absolute;
}

.c{
	transform-origin: top left;
	-webkit-transform-origin: top left;
}

#gui{
	position: absolute;
}